<IfModule mod_headers.c>
    # Clickjacking protection (SAMEORIGIN agar aman & tetap mendukung modal/frame internal)
    Header set X-Frame-Options "SAMEORIGIN"
    
    # Cross-Site Scripting (XSS) protection
    Header set X-XSS-Protection "1; mode=block"
    
    # MIME-sniffing protection
    Header set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Mencegah loop jika request ke direktori atau file statis asli (CSS, JS, Gambar)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Otomatis routing URL tanpa ekstensi .php ke file .php jika filenya ada
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}.php -f [OR]
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [L,QSA]
</IfModule>

# Keamanan Tambahan: Matikan browsing direktori
Options -Indexes
